@import '../../variables';

.container {
    padding-top: 60px;
}
.blogContainer {
    width: 384px;
    margin: 0 auto;
    background: white;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07),
     0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
     0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275),
     0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035), 0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725),
     0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
}

.blogContainerName {
    text-align: center;
    margin-top: 40px;
    margin-bottom: -5px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.blogContainerForm {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.formInput {
    margin: 0 auto;
    width: 308px;
    height: 40px;
    padding-left: 12px;
    color: #BFBFBF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: black;
    border: 1px solid #BFBFBF;
    border-radius: 5px;
}

.formInput:focus-visible {
    outline: none;
    border: 2px solid #1890FF;
}

.formContainer {
    margin: 0 auto;
    width: 320px;
    display: flex;
    flex-wrap: wrap;
}

.formLabel {
    color: #262626;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 3px;
    margin-left: 10px;
}

.checkboxLabel {
    display: flex;
    width: 320px;
    margin: 0 auto;
    padding-top: 10px;
    margin-left: 32px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    line-height: 22px;
    border-top: 1px solid #BFBFBF;
    margin-top: 20px;
    margin-bottom: 5px;
}

.checkboxText {
    width: 254px;
    height: 44px;
    margin-left: 5px;
}

.checkbox {
    width: 16px;
    height: 16px;
    border-radius: 5px;
}

 .formButton {
     margin: 0 auto;
     margin-top: 10px;
     width: 308px;
     height: 43px;
     background-color: #18b2ff;
     border: 1px solid #BFBFBF;
     font-family: 'Inter', sans-serif;
     font-size: 16px;
     color: white;
     border-radius: 5px;
 }
 
 .formContainerP {
     margin: 0 auto;
     margin-top: 15px;
     width: 190px;
     height: 20px;
 }
 
 .formP {  
     height: 20px;
     color: #BFBFBF;
     font-family: 'Inter', sans-serif;
     font-size: 12px;
 }
 
 .navSignIn {
     text-decoration: none;
     color: #1890FF;
 }

 .formInput::placeholder {color:  #BFBFBF}

 .danger {
     color: red;
     font-family: 'Inter', sans-serif;
     font-size: 14px;
     margin-top: 5px;
     margin-bottom: -10px;
     margin-left: 10px;
 }

 .password {
    color: red;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0px;
 }

 .dangerCheck {
    margin-left: 40px;
    color: red;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-top: -5px;
    margin-bottom: 0px;
 }

 .errorMes {
     width: 200px;
     color: red;
     font-family: 'Inter', sans-serif;
     font-size: 14px;
     margin-top: 10px;
     margin-left: 40px;
     margin-bottom: -10px;
 }

 .signup {
    width: 308px;
    margin: 0 auto;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    background-color: #18b2ff;
 }

 .formButton:hover {
    background: #1890FF;
    transform: scale(1.02);
}