@import '../../variables';

.Blog {
    width: 941px;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 15px;
    background-color: $backgrounBlog;
    box-shadow: 0  2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.articleImg {
    width: 50px;
    height: 50px;
    border-radius:50%;
}
.blog {
    margin-left: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
}

.Author {
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 10px;
}

.blogUserName {
    margin-left: 50px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 20px;
}

.blogCreated {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -20px;
    margin-left: 18px;
}

.blogAuthor {
    margin-right: 15px;
}

.blogDescription {
    margin-left: 20px;
    margin-top: -5px;
    width: 682px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 18px;
}

.blogBody {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    padding-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 18px;
}

.blogTagList {
    display: flex;
    flex-wrap: nowrap;
}

.tagList {
    width:max-content;
    margin-left: 20px;
    margin-right: -10px;
    margin-top: -20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    font-family: 'Inter', sans-serif;
    line-height: 18px;
    font-size: 12px;
    padding: 1px 5px 1px 5px;
}

.blogTitle {
    color: $colorTitle;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 28px;
}

.favoriteCounte {
    display: flex;
    flex-wrap: nowrap;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    margin-left: 13px;
}

.image {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-top: 5px;
}

.favoriteCounte span {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 4px;
}

.container {
    display: flex;
    flex-wrap: nowrap;
}

.btn {
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px;
}

.btnDelete,
.btnEdit {
    padding: 6px 19px 6px 19px;
    margin-right: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background: none;
   
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}

.btnDelete {  
    border: 1px solid $borderTabs;
    color: $borderTabs;
}
.btnEdit {  
    border: 1px solid $colorBtn;
    color: $colorBtn;
}

.spin {
    margin: 0 auto;
    width: 100px;
    margin-top: 250px;
}





