$backgroundApp: #f3f7fa;
$backgrounBlog: #FFFFFF;
$borderProf: #D9D9D9;
$colorForm: #BFBFBF;
$colorTitle: #1890FF;
$colorFormBtn: #18b2ff;
$borderTabs: red;
$colorBtn: #52C41A;
$colorText: black;
$colorFormLabel: #262626;